body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@tailwind base;
@tailwind components;
@tailwind utilities;


.alert-enter{
  opacity: 0;
}
.alert-enter-active{
  transition: opacity 900ms ease-out;
  opacity: 1;
}
.alert-exit-active{
  transition: opacity 750ms ease-out;
  opacity: 0;
}